{# The following HTML structure is derived from the starter app code  for cs_340 
    Date 7/25/2024
    Derived from the example structure of Jinja
    https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master#}
    
{% extends "base_admin.j2" %}
{% block title %}Airplane Admin{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #06407a;
    }
</style>
{% endblock %}
{% block read %}{{ super() }}{% endblock %}
{% block new_button%}<th><a href="#" onClick="newAirplane()">Add New</a> </th> {% endblock %}
{% block update_button%}<td><a href="edit_airplane/{{item.id}}" class="btn btn-default">Edit</a></td>{% endblock %}
{% block delete_button%}<td><a href="delete_airplane/{{item.id}}" class="btn btn-default">Delete</a></td>{% endblock %}

{% block create %}
<form id="createAirplane" action="/airplane-admin" method="post">
    <legend><strong>Add Airplane</strong></legend>
    <fieldset>
        <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="" required>
    </fieldset>

    <!-- Create 'Add Airplane' and 'Cancel' buttons -->
    <input type="submit" value="Add Airplane" name="Add_Airplane" class="btn btn-primary" style="margin:.5rem;">
    <input class="btn" type="button" value="Cancel"> {# onClick="browsePeople()" #}


</form>
{% endblock %}

{% block update %}
<form id="editAirplane" action="/edit_people/{{data[0].id}}" method="post">
    <legend><strong>Update Airplane</strong></legend>
    <fieldset>
        <input type="hidden" value="{{data[0].Airplane_Type_ID}}" class="form-control" id="airplaneID" name="airplaneID"
            required>

        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}"
            placeholder="{{data[0].Airplane_Type}}" required>
    </fieldset>
    <input class="btn" type="submit" id="Update Airplane" value="Update Airplane">
    <input class="btn" type="button" value="Cancel" style="margin:.5rem;">{# onClick="browsePeople()" #}
</form>
{% endblock %}

{% block delete %}
<form method="POST" id="deleteAirplane">
    <legend><strong>Delete Airplane</strong></legend>
    <fieldset class="fields">
        <p>Are you sure you wish to delete this airplane?</p>
        <input type="hidden" name="airplaneID" id="deleteAirplane_TypeID" value="{{data[0].Airplane_Type_ID}}">
        <label><strong>ID:</strong></label> {{data[0].Airplane_Type_ID}}
        <label> <strong>Name</strong> </label> {{data[0].Airplane_Type}}
    </fieldset>
    <input class="btn" type="submit" id="DeleteAirplane" value="Delete Airplane Type">
    <input class="btn" type="button" value="Cancel" style="margin:.5rem;">{# onclick="browsePeople()" #}
</form>
{% endblock %}
