{# The following HTML structure is derived from the starter app code  for cs_340 
    Date 7/25/2024
    Derived from the example structure of Jinja
    https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master#}
  
<html>

<head>
    <title>Airline Reservation System</title>
</head>

<body>
    <h1>Site Index</h1>
    <ul>
        <li><a href="/seat-admin">Seat Administration</a>: Portal for schedulers to edit seating arrangements</li>
        <li><a href="/flight-admin">Flight Administration</a>: Portal for schedulers to edit flight schedules</li>
        <li><a href="/airplane-admin">Airplane Administration</a>: Portal for schedulers to edit airplane properties</li>
        <li><a href="/airport-admin">Airport Administration</a>: Portal for schedulers to edit serviced locations</li>
        <li><a href="/travelclass-admin">Travel Class Administration</a>: Portal for schedulers to edit ticket class offerings</li>
        <li><a href="/airplanetravelclass-admin">Airplane Travel Class Administration</a>: Portal for schedulers to edit travel classes for an airplane</li>
    </ul>

</body>

</html>
